In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import json

In [3]:
df = pd.read_csv("data/data.csv")
df

          userId  movieId  rating
0              1        2     3.5
1              1       29     3.5
2              1       32     3.5
3              1       47     3.5
4              1       50     3.5
...          ...      ...     ...
16042899  138493    68954     4.5
16042900  138493    69526     4.5
16042901  138493    69644     3.0
16042902  138493    70286     5.0
16042903  138493    71619     2.5

[16042904 rows x 3 columns]

In [4]:
moviesIDs = {int(number): index for index, number in enumerate(sorted(df['movieId'].unique()))}
userIDs = {int(number): index for index, number in enumerate(sorted(df['userId'].unique()))}

ids = {"moviesIDs": moviesIDs, "userIDs": userIDs}

with open("data/data_ids.json", 'w') as file:
    json.dump(ids, file, indent=4)

with open("data/data_ids.json", 'r') as file:
    data = json.load(file)

data.keys()

dict_keys(['moviesIDs', 'userIDs'])

# VISUALIZATIONS HERE PLS BLYAT

**hudsiahdiuashdiuashdiahsdui**

In [10]:
genres = pd.read_csv("data/movie.csv")["genres"].str.split("|").tolist()
genres = set([genre for sublist in genres for genre in sublist])
genres, len(genres)

({'(no genres listed)',
  'Action',
  'Adventure',
  'Animation',
  'Children',
  'Comedy',
  'Crime',
  'Documentary',
  'Drama',
  'Fantasy',
  'Film-Noir',
  'Horror',
  'IMAX',
  'Musical',
  'Mystery',
  'Romance',
  'Sci-Fi',
  'Thriller',
  'War',
  'Western'},
 20)

# Split in test and train

In [58]:
df_80, df_20 = train_test_split(df, test_size=0.2, random_state=42)

#print(set(df_20["userId"]).issubset(set(df_80["userId"])))
#print(set(df_20["movieId"]).issubset(set(df_80["movieId"])))

df_80.to_csv("data/data_train.csv", index=False)
df_20.to_csv("data/data_test.csv", index=False)

In [59]:
df_80

          userId  movieId  rating
2738970    23180      616     2.0
10912345   93827     6874     4.0
5014178    42913     2617     5.0
4375690    37363     1573     3.0
14846726  128114     1674     4.0
...          ...      ...     ...
10081351   86720     3810     3.0
6550634    56152     2512     5.0
6423388    55085     2826     3.0
15351219  132386   111235     3.0
14802022  127731     1704     4.0

[12834323 rows x 3 columns]